<% provide(:title, "Home") %>
<%= render partial: '/application/menubar' %>

<h1>Hello world!!!</h1>

<p>Looking for help naming your drone? Check out our 
  <a href="/drone_dock/suggestname">naming tool</a>
</p>
