<% provide(:title, "Home") %>
<%= render partial: '/application/menubar' %>

<h1>Hello world!!!</h1>

<p>Do you 1) own a ski resort and 2) have a lot of drones to monitor weather
conditions and move medical supplies but 3) have difficulty keeping track
of them? Look no further than drone zone!</p>

<p>See your drone dashboard <a href="/drones">here</a></p>

<p>Looking for help naming your drone? Check out our
  <a href="/drone_dock/suggestname">naming tool</a>
</p>
