<% provide(:title, "Tech") %>
<%= render partial: '/application/menubar' %>

<h1>The tech behind us</h1>


<%= image_tag("creepy_ai_face.jpg", size: "640x320", alt: "CREEPY_AI_FACE") %>

<p>
  Some AI fancy stuff with a little help from Rails :)
</p>
